.el-menu{
    border-right: none!important;
}
.sidebar-el-menu:not(.el-menu--collapse) {
    width: 200px;
}


.el-menu--collapse  .el-submenu__title span{
    display: none;
  }
  /*隐藏 */
.el-menu--collapse  .el-submenu__title .el-submenu__icon-arrow{
    display: none;
}


.sidebar-el-menu{
    .is-active{
        background-color: #0960BD!important;
    }
    .is-opened{
        .el-menu-item{
            background-color: #0C2135!important;
        }
        .is-active{
            background-color: #0960BD!important;
        }
    }
    .el-menu-item:hover,.el-submenu__title:hover{
        color: #fff!important;
        i{
            color: #bbb!important;
        }
    }
}

.h-icon{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0 10px;
}
.h-icon:hover{
    background-color: #f6f6f6;
}

.el-header{
    padding: 0;
}
.h-dropdown{
    height: 100%;
}