@import './transition.scss';

.h-icon{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0 10px;
    width: 2em;
}
.h-icon:hover{
    background-color: #f6f6f6;
}   

.el-header{
    padding: 0;
}
.form-item-sb{
    .el-form-item__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.code-item{
    .el-form-item__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
    }
}

.el-menu{
    border-right: none!important;
}
.sidebar-el-menu:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}


.el-menu--collapse  .el-submenu__title span{
    display: none;
  }
  /*隐藏 */
.el-menu--collapse  .el-submenu__title .el-submenu__icon-arrow{
    display: none;
}

  /*表格表头 背景颜色*/
.hades-table-header th{
    background: #F5F7FA!important;
}
.el-table__header{
    width: 100%;
}

.table-setting{
    display: flex;
    flex-direction: column;
    .setting-item{
      display: flex;
      flex-direction: row;
      margin-top: 15px;
      .label{
          width: 80px;
      }
    }
}
  /*下拉 树状选择 取消padding*/
.select-tree{
    .el-select-dropdown__item{
        padding: 0;
    }
}




.sidebar-el-menu{
    .is-active{
        background-color: #0960BD!important;
    }
    .is-opened{
        .el-menu-item{
            background-color: #0C2135!important;
        }
        .is-active{
            background-color: #0960BD!important;
        }
    }
    .el-menu-item:hover,.el-submenu__title:hover{
        color: #fff!important;
        i{
            color: #bbb!important;
        }
    }
   
}
.card-header{
    display: flex;
    min-height: 36px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
// 全局card 样式
.hades-card {
    .el-card__header{
        min-height: 36px;
        padding: 0 12px;
        .card-header{
            .title{
                font-size: 14px;
            }
        }
    }
}
.el-card.is-always-shadow {
    box-shadow: none;
}
.lock-form{
    .el-form-item__label{
        padding: 0;
    }
}

.el-scrollbar__view{
    height: 100%!important;
}


.media-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 320px;
    .media-item{
      flex-basis: 150px;
      height: 150px;
      border: 1px dashed #ccc;
      border-radius: 5px;
      img{
            height: 150px;
            width: 150px;
            object-fit: contain;
            border-radius: 5px;
      }
    }
  }

[display=none] { display: none }